.collapse-styled {
  font-family: sans-serif;
  line-height: 1.44;
  color: #55626f;
}

.collapse-styled .collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dbe1e6;
}

.collapse-styled .collapse-controls {
  display: flex;
  align-items: center;
}

.collapse-styled .collapse-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background-color: #dbe1e6;
  border-radius: 24px;
}

.collapse-styled .collapse-content {
  padding: 25px 10px;
}

.collapse-styled > .rc-collapse-item > .rc-collapse-header:focus {
  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 0 1px #dbe1e6;
}

.collapse-styled .collapse-icon-container svg {
  transition: transform 150ms ease;
  transform: rotate(360deg);
  fill: #909ca6;
}

.collapse-styled .rc-collapse-item-active .collapse-icon-container {
  background-color: #ffdfab;
}

.collapse-styled .rc-collapse-item-active .collapse-icon-container svg {
  transition: transform 150ms ease;
  transform: rotate(180deg);
  fill: #f78c08;
}
