.itp-rcc-button {
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
}

.itp-rcc-button,
.itp-rcc-button:active,
.itp-rcc-button:focus {
  outline: 0;
}

.itp-rcc-button:not([disabled]):hover {
  text-decoration: none;
}

.itp-rcc-button:not([disabled]):active {
  outline: 0;
  transition: none;
  box-shadow: none;
}

.itp-rcc-button.disabled,
.itp-rcc-button[disabled] {
  cursor: not-allowed;
}

.itp-rcc-button.disabled > *,
.itp-rcc-button[disabled] > * {
  pointer-events: none;
}

.itp-rcc-button:active > a:only-child,
.itp-rcc-button.active > a:only-child {
  color: currentColor;
}

.itp-rcc-button:active > a:only-child:after,
.itp-rcc-button.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.itp-rcc-button.disabled > a:only-child,
.itp-rcc-button[disabled] > a:only-child,
.itp-rcc-button.disabled:hover > a:only-child,
.itp-rcc-button[disabled]:hover > a:only-child,
.itp-rcc-button.disabled:focus > a:only-child,
.itp-rcc-button[disabled]:focus > a:only-child,
.itp-rcc-button.disabled:active > a:only-child,
.itp-rcc-button[disabled]:active > a:only-child,
.itp-rcc-button.disabled.active > a:only-child,
.itp-rcc-button[disabled].active > a:only-child {
  color: currentColor;
}

.itp-rcc-button.disabled > a:only-child:after,
.itp-rcc-button[disabled] > a:only-child:after,
.itp-rcc-button.disabled:hover > a:only-child:after,
.itp-rcc-button[disabled]:hover > a:only-child:after,
.itp-rcc-button.disabled:focus > a:only-child:after,
.itp-rcc-button[disabled]:focus > a:only-child:after,
.itp-rcc-button.disabled:active > a:only-child:after,
.itp-rcc-button[disabled]:active > a:only-child:after,
.itp-rcc-button.disabled.active > a:only-child:after,
.itp-rcc-button[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.itp-rcc-button:hover,
.itp-rcc-button:focus,
.itp-rcc-button:active,
.itp-rcc-button.active {
  text-decoration: none;
}
