.rc-collapse-header:focus {
  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 0 1px #dbe1e6;
}

.rc-collapse-item-active .collapse-icon-container {
  background-color: #ffdfab;
}

.rc-collapse-item-active .collapse-icon-container svg {
  transition: transform 150ms ease;
  transform: rotate(180deg);
  fill: #f78c08;
}
