:root {
  --colorBasePrimary100: #100697;
  --colorBasePrimary200: #100698;
  --colorBasePrimary300: #100699;
  --colorBasePrimary400: #10069a;
  --colorBasePrimary500: #10069b;
  --colorBasePrimary600: #10069c;
  --colorBasePrimary700: #10069d;
  --colorBasePrimary800: #10069e;
  --colorBasePrimary900: #00006b;
  --colorBaseSecondary100: #bbbbbb;
  --colorBaseSecondary200: #bcbcbc;
  --colorBaseSecondary300: #cccccc;
  --colorBaseSecondary400: #cdcdcd;
  --colorBaseSecondary500: #dddddd;
  --colorBaseSecondary600: #dedede;
  --colorBaseSecondary700: #eee8ee;
  --colorBaseSecondary800: #efefef;
  --colorBaseSecondary900: #ffffff;
  --colorBaseTertiary100: #888888;
  --colorBaseTertiary200: #777777;
  --colorBaseTertiary300: #666666;
  --colorBaseTertiary400: #555555;
  --colorBaseTertiary500: #444444;
  --colorBaseTertiary600: #333333;
  --colorBaseTertiary700: #222222;
  --colorBaseTertiary800: #111111;
  --colorBaseTertiary900: #000000;
  --lineHeightFontCaption: 1.5;
  --lineHeightFontHeader1: 1.5;
  --lineHeightFontHeader2: 1.5;
  --lineHeightFontHeader3: 1.5;
  --lineHeightFontHeader4: 1.5;
  --lineHeightFontHeader5: 1.5;
  --lineHeightFontHeader6: 1.5;
  --lineHeightFontLabel: 1.5;
  --lineHeightFontParagraph: 1.5;
  --sizeFontCaption: 0.875rem;
  --sizeFontHeader1: 2.125rem;
  --sizeFontHeader2: 1.875rem;
  --sizeFontHeader3: 1.875rem;
  --sizeFontHeader4: 1.625rem;
  --sizeFontHeader5: 1.500rem;
  --sizeFontHeader6: 1.125rem;
  --sizeFontLabel: 0.813rem;
  --sizeFontParagraph: 1.000rem;
  --weightFontCaption: 400;
  --weightFontHeader1: 700;
  --weightFontHeader2: 700;
  --weightFontHeader3: 400;
  --weightFontHeader4: 700;
  --weightFontHeader5: 700;
  --weightFontHeader6: 700;
  --weightFontLabel: 500;
  --weightFontParagraph: 400;
}
