@import "../../../../hubble/variables.css";

.Title {
  font-family: "Flama Semicondensed", sans-serif;
  font-size: 4.5vw;
  line-height: var(--lineHeightFontHeader1);
  font-weight: var(--weightFontHeader1);
}
