@import "@inthepocket/itp-css/properties/breakpoints.css";

.Feature {
  display: block;
  margin: 0 0 5px 0;
  color: var(--colorSecondary900);
}

.Feature:hover {
  text-decoration: none;
}

@media (--bp3) {
  .Feature {
    display: inline-block;
    margin: 0 5px 0 0;
  }

  .Feature::after {
    content: ",";
  }

  .Feature:last-child::after {
    display: none;
    content: "";
  }
}
