@import '../../../hubble/variables.css';
@import '@inthepocket/itp-css/properties/breakpoints.css';

.App {
  position: relative;
  height: calc(100% - 2.5rem - 2.5rem);
  padding: 2.5rem;
  background-color: var(--colorBasePrimary100);
}

.App::before {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  width: 55vw;
  height: 60vh;
  content: "";
  background-color: var(--colorBasePrimary900);
}

.content {
  margin: 2rem 0 0;
}

@media (--bp3) {
  .App {
    height: calc(100% - 3.75rem - 3.75rem);
    padding: 3.75rem;
  }
}
