.App {
  position: relative;
  height: calc(100% - 3.75rem - 3.75rem);
  padding: 3.75rem;
  background-color: var(--colorPrimary100);
}

.App::before {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  width: 55vw;
  height: 60vh;
  content: "";
  background-color: var(--colorPrimary900);
}

.content {
  margin: 2rem 0 0;
}
